html, body {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
  margin: 0;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -42px;
}
.wrapper:after {
  content: "";
  display: block;
}
#footer, .wrapper:after {
  height: 42px;
  text-align: center;
}

#footer p {
  margin:auto;
  padding-top: 10px;
  width: 400px;
  color: #999;
  text-transform: uppercase;
  font-size: 9pt;
  border-top: 1px solid #ccc;
}

#footer a {
  text-decoration: none;
  color: #999;
}

#footer a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
  padding: 30px;
}

.search {
  text-align: center;
}

#results {
  width: 700px;
  margin: auto;
}

ul {
  list-style: none;
  padding: 0;
}

.question {
  border-radius: 5px;
  border: 2px solid #ccc;
  padding: 10px;
  margin: 10px;
}

.question-header {
  color: #999;
  text-transform: uppercase;
  font-size: 9pt;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.question-body {
  padding: 10px 0;
}

.question-footer {
  padding-top: 5px;
  border-top: 1px solid #ccc;
  min-height: 15px;
}

.question-footer {
}

.question .author {
  float: right;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 9pt;
}

.question:hover .author {
  color: #999;
  padding-top: 5px;
}

.question-footer.collapsed div {
  display: none;
}

.question:hover {
  background: rgba(1,1,1, 0.02);
}

.question:hover .expand {
  color: #999;
}

.answer {
  padding: 5px 0;
}

.comment {
  color: #999;
}

.question .expand {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 9pt;
}

.question .expand:hover {
  text-decoration: underline;
}

.search input{
  width: 400px;
  height: 30px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 14pt;
  padding: 5px;
  font-family: 'Source Sans Pro', sans-serif;
}

.search input:focus {
  border: 2px solid #6af;
  outline: none;
}
span.match {
  color: #6af;
}

::-webkit-input-placeholder {
   color: #ccc;
   font-family: 'Source Sans Pro', sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ccc;
   font-family: 'Source Sans Pro', sans-serif;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ccc;
   font-family: 'Source Sans Pro', sans-serif;
}

:-ms-input-placeholder {
   color: #ccc;
   font-family: 'Source Sans Pro', sans-serif;
}

p.found {
  color: #ccc;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
}